In [1]:
# Mahipalsing Hypothesis Assignment

In [3]:
# Impot libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as sp
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [4]:
customer_order = pd.read_csv("/Users/mayur/Desktop/Excelr Solution/Assignment-3(Hypothesis)/Costomer+OrderForm.csv")

In [5]:
customer_order

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [6]:
customer_order.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [7]:
customer_order.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [8]:
customer_order.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [9]:
customer_order.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [14]:
obs = np.array([[271,267,269,280],[29,33,31,20]])

In [15]:
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [16]:
# Chi2 contengency independence test
chi2_contingency(obs)   # o/p is (Chi2 stats value, p_value, df, expected obsvations)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [17]:
pValue =  0.2771

In [18]:
#Assume Null Hypothesis as Ho: Independence of categorical variables (customer order forms defective % does not varies by centre) Thus, Alternative hypothesis as Ha Dependence of categorical variables (customer order forms defective % varies by centre)

In [19]:
# Compare p_value with α = 0.05

In [21]:
if pValue< 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we accept null hypothesis

In [ ]:
# Inference: As (p_value = 0.2771) > (α = 0.05); Accept Null Hypthesis i.e. Independence of categorical variables Thus, customer order forms defective % does not varies by centre